@use '../../styles/variables' as * ;
@use '../../styles/mixins' as * ;

.acerca {
    display: flex;
    justify-content: center;
    padding: 0 1rem;

    @include tablet-desktop(){
        padding: 0;
    }

    .contenedor {
        width: 100%;
        max-width: $max-heigt-contenedores;
        display: flex;
        flex-direction: column;
        gap: 5rem;

        .contenido {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 2rem;

            @include tablet-desktop(){
                flex-direction: row;
            }

    
            &__texto {
                flex: 2;
                line-height: 1.7;
                color: $negro;
            }

            &__imagen {
                width:100%;
                object-fit: cover;
                object-position: center;
                height: 25rem;
                flex:1;


                @include tablet-desktop(){
                    width: 50%;
                }
            }
        }
    }
}
