.principal {
    height: 40rem;
    background-image: url('../../assets/imagenes/principal.jpg');
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}