@use '../../../styles/variables' as *;
@use '../../../styles/mixins' as *;

.primario,
.secundario {
    padding: 0.7rem;
    font-size: 1rem;
    cursor: pointer;
    min-width: 10rem;
    text-align: center;
}

  .a {
      text-decoration: none;
      display: block; // Para que ocupe todo el espacio del botón
  }

  .primario {
    background-color: $primario;
    border: transparent;    
    color: $blanco;

    &:hover {
      background-color: red;
    }

  }

  .secundario {
    background-color: $blanco;
    border: 1px solid $medio-gris;

    &:hover {
      border-color: $primario;
    }
  }
  