@use '../../styles/variables' as *;
@use '../../styles/mixins' as *;

.servicios_productos {
    display: flex;
    justify-content: center;
        
    .contenedor {
        width: 100%;
        max-width: $max-heigt-contenedores;
        display: flex;
        flex-direction: column;
        gap: 3rem;
        
        padding: 0 1rem;
        @include for-deleteSpacings(){
            padding: 0;
        }

        &__items {
            display: flex;
            justify-content: center;
            // align-items: center;
            gap: 3rem;
            flex-wrap: wrap;
        }
    }
}