@use '../../styles/variables' as *;
@use '../../styles/mixins' as *;

.servicios_productos {
    display: flex;
    justify-content: center;
    padding: 0 1rem;

    @include tablet-desktop(){
        padding: 0;
    }
    
    .contenedor {
        width: 100%;
        max-width: $max-heigt-contenedores;
        display: flex;
        flex-direction: column;
        gap: 3rem;

        &__items {
            display: flex;
            justify-content: center;
            // align-items: center;
            gap: 1rem;
            flex-wrap: wrap;
        }
    }
}