@use '../../styles/variables' as * ;
@use '../../styles/mixins' as * ;

.visitanos {
    display: flex;
    justify-content: center;    
    .contenedor {
        width: 100%;
        max-width: $max-heigt-contenedores;
        display: flex;
        flex-direction: column;
        gap: 5rem;

        padding: 0 1rem;
        @include for-deleteSpacings(){
            padding: 0;
        }
    }

    .contenido {
        display: flex;
        flex-direction: column;
        gap: 3rem;
        justify-content: space-around;
        flex-wrap: wrap;

        @include tablet-desktop(){
            flex-direction: row;
        }
    }
}