// primary-colors
$primario: #bc79f0;
$primario-hover: #9c4bda;

$secundario: #FFFAFC;
// $terciario: #F59E0B;

// neutral-colors
$negro: #333333;
$blanco:#FFFFFF;
$medio-gris: #57534E;
$suave-gris: #E7E5E4;
$muy-suave-gris:#FAF8F6;

$color_boton_header: white;
$border-radius: 4px;
$max-heigt-contenedores: 1152px;
