// primary-colors
$primario: #E973A6;
$secundario: #FFFAFC;
// $terciario: #F59E0B;

// neutral-colors
$negro: #333333;
$blanco:#FFFFFF;
$medio-gris: #57534E;
$suave-gris: #E7E5E4;
$muy-suave-gris:#FAF8F6;

// font sizes
// $family-headings:"Playfair Display", serif;