@use '../../styles/variables' as *;
@use '../../styles/mixins' as *;


.galeria {
    display: flex;
    justify-content: center;
    padding: 0 1rem;

    @include tablet-desktop(){
        padding: 0;
    }
    
    .contenedor {
        display: flex;
        flex-direction: column;
        gap: 5rem;
        width: 100%;
        max-width: $max-heigt-contenedores;
    }

    .contenido {
        display: flex;
        flex-wrap: wrap;
        gap: 1rem;
        justify-content: center;
    }

    .linkImagen {
        display: inline-block; // Necesario para que funcione correctamente
        width: 100%;
        max-height: 20rem;
        
        @include tablet-desktop(){
            max-width: 23rem;
    }
    
    .imagen {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    }
}