@use '../../../styles/variables' as *;
@use '../../../styles/mixins' as *;

.nav {
    // display: none;    
    max-height: 0;
    overflow: hidden;

    @include tablet-desktop(){
        display: flex;
        overflow: visible;
    }
    
    &__mobile {
        display: flex;
        max-height: 500px;
        overflow: hidden;
        transition: all .2s ease-in;
        background-color: $secundario;
        position: absolute;
        top: 4.4rem;
        left: 0;
        width: 100%;
        padding: 2rem 1rem;

        @include tablet-desktop(){
        display: none;
    }

    }

    .ol {
        display: flex;
        width: 100%;
        flex-direction: column;
        align-items: center;
        gap: 2rem;

        @include tablet-desktop(){
            flex-direction: row;
        }
    }

    .a {
        color: $negro;
        font-size: $font-size-xs;
        // font-weight: 600;

        &:hover {
            color: $primario;
        }
    }
}