@use '../../styles/variables' as *;
@use '../../styles/mixins' as *;

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    // margin-bottom: 2rem;
    background-color: $primario;
    padding: 2rem 0;

    .contenedor {
        max-width: $max-heigt-contenedores;
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 1rem;
        text-align: center;
        align-items: center;
        color: $blanco;
    }

    .logo {
        font-size: 1.5rem;
        font-weight: 600;
        color: $blanco;
    }

    .links {
        display: flex;
        gap: 2rem;
        align-items: center;
    }
}