@use '../../styles/variables' as *;
@use '../../styles/mixins' as *;

.items {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 1rem;

    @include tablet-desktop (){
        flex-direction: row;
    }
    
    .imagen {
        width: 100%;
        object-fit: cover;
        @include tablet-desktop (){
            width: 40%;
            height: 24rem;
        }
        // padding: 1rem;
        border:1px solid rgb(214, 214, 214);
        min-height: 22rem;
    }
    
    .contenido {
        border-radius: 1rem;
        border:1px solid rgb(214, 214, 214);
        height: 100%;
        padding: 2.5rem;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        flex: 1;
        
        
        &__id {
            font-size: 2rem;
            color: $primario;
        }
        
        &__titulo {
            font-size: 2rem;
            color: $negro;
        }

        &__texto {
            color: $negro;
            line-height: 1.7;
        }
    }

}

.row {
    border-radius: 1rem;
    @include tablet-desktop(){
        flex-direction: row;
        border-radius: 5rem 0 0 5rem;
    }
}

.reverse {
    border-radius: 1rem;    
    @include tablet-desktop(){
        flex-direction: row-reverse;
        border-radius: 0 5rem 5rem 0;
    }
}