@use '../../styles/variables' as *;
@use '../../styles/mixins' as *;

.items {
    width: 100%;
    position: relative;
    border-radius: $border-radius;
    overflow: hidden;
    min-height: 20rem;
    transition: box-shadow .3s ease;
    
    @include tablet-desktop(){
        max-width: 23rem;
        max-height: 25rem;
    }

    &:hover {
        box-shadow: 6px -2px 15px 2px #a4a4a4;
    }
    
    &::after{
        content: '';
        background-color: rgba(8, 8, 8, 0.548);
        position: absolute;
        top: 0;
        left: 0;
        height:100%;
        width: 100%;
    }

    .imagen {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;

    }

    .contenido {
        position: absolute;
        color: white;
        z-index: 1000;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        padding: 2rem;
        display: flex;
        justify-content: center;
        align-items: start;
        flex-direction: column;
        justify-content: flex-start;
        gap: 2rem;

        &__titulo {
            font-size: 1.8rem;
        }

        &__texto {
            line-height: 1.7;
        }
    }
}