@import url('https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

html {
    scroll-behavior: smooth;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: "Work Sans", sans-serif;

}

h1,
h2,
h3,
h4 {
    // font-family: "Playfair Display", serif;
}

a {
    text-decoration: none;

}

a,p, span, button, li{
    // font-family: "Inter", sans-serif;
}

ol {
    list-style: none;
    margin: 0;
    padding: 0;
}